@charset "UTF-8"

    /*Estilo para todos os dispositivos*/  

    body header h1 {
        text-shadow: 0 0 10px rgb(255, 217, 0);
        animation: reluzir 1s ease-in-out infinite;
      }

       /*Efeito reluzir*/
      @keyframes reluzir {
        0% {
          text-shadow: 0 0 5px gold;
        }
        50% {
          text-shadow: 0 0 20px gold, 0 0 30px gold;
        }
        100% {
          text-shadow: 0 0 10px gold;
        }
      }


      /* Media queries para tablets*/
      @media (max-width:720px) {
        
        .igreja{
            font-size: 76px;
           
        }

        
        
         /*outras regras de estilos especificos para tablets*/ 
      }  
      

      /* Media query para smartphones */
     
           
     
           /*Jesus et´s voltando */
    .anima {
        position: relative;
        overflow: none;
        max-width: 98%;
        height: 100vh;
      }
      

      .gif {
       
        transform: translate(-60%, 100%);
        white-space: nowrap;
        animation: movegif 10s infinite linear;
      } @keyframes movegif {
        -75% {
          top: 30% ;
        }
        45% {
          left: 20%;
        }
        50% {
          left: 30%;
        }
        100% {
          left: 80%;
        }
    }
      

      
      .move {
        position: absolute;
        top: 10%;
        right: 100%;
        transform: translate(0, 50%);
        white-space: nowrap;
        animation: moveText 10s infinite linear;
      }
      
      @keyframes moveText {
          0% {
            right: -5%;
          }
          20% {
            right: 10%;
          }
          50% {
            right: 30%;
          }
          100% {
            right: 100%;
          }
      }
      
      