@charset "UTF-8"

    /*Estilo para todos os dispositivos*/  

    body header h1 {
        text-shadow: 0 0 10px rgb(255, 217, 0);
        animation: reluzir 1s ease-in-out infinite;
      }

       /*Efeito reluzir*/
      @keyframes reluzir {
        0% {
          text-shadow: 0 0 5px gold;
        }
        50% {
          text-shadow: 0 0 20px gold, 0 0 30px gold;
        }
        100% {
          text-shadow: 0 0 10px gold;
        }
      }


      /* Media queries para tablets*/
      @media (max-width:720px) {
        
        .igreja{
            font-size: 76px;
           
        }

        
        
         /*outras regras de estilos especificos para tablets*/ 
      }  
      

      /* Media query para smartphones */
      @media (max-width: 610px) {
        .igreja {
            font-size: 130px;
            text-align: center;
            margin-top: 69px;
            
        }
        body header h2{
          display: inline;        
          font-size: 2em;
          position: relative;
          left: 3em;
        }
        #address {
          display: block;
          background-color: #df3939e7;          
          height:100px;
          width: 95.5vw;
          margin: 0px 0px 0px -6px ;
          position: absolute;
          top: 475px;
          left: 77px;
         }

        .texto2{
          font-family: var(--font3);
          font-size: 1.5em;
          position: absolute;
          top: 59px;
          left: 19px;
          margin: -10px;
        }

        .gif {
          max-width: 80px;
          position: absolute;
          top: 70px;
          left: 78px;
        /*outras regras de estilos especificos para tablets */
      }
      footer{
        margin-top: 360%;
        min-width: 120px;
        height: 130px;
        width: 98.5vw;  
        font-size: 1.2em;
        
        
      }
    }
           
     
           /*Jesus et´s voltando */
    .anima {
        position: relative;
        overflow: none;
        max-width: 98%;
        height: 100vh;
      }
      /*

      .gif {
        position: absolute;
        top: 10%;
        right: 100%;
        transform: translate(0%, -20%);
        white-space: nowrap;
        animation: movegif 10s infinite linear;
      } @keyframes movegif {
        0% {
          left: -100%;
        }
        30% {
          left: 20%;
        }
        50% {
          left: 30%;
        }
        100% {
          left: 100%;
        }
    }
      */

      /*
      .move {
        position: absolute;
        top: 10%;
        right: -100%;
        transform: translate(0, -50%);
        white-space: nowrap;
        animation: moveText 20s infinite linear;
      }
      
      @keyframes moveText {
          0% {
            right: -100%;
          }
          20% {
            right: 10%;
          }
          50% {
            right: 30%;
          }
          100% {
            right: 100%;
          }
      }
      */
      