@charset "UTF-8"

*{ 
  margin: 0;
  padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Vollkorn:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Vollkorn+SC&family=Vollkorn:wght@700&display=swap');



:root {

  --font0: 'Vollkorn SC', serif;
  --font1: 'Vollkorn', serif;
  --font2:'Passion One', cursive;
  --font3:Arial, Helvetica, sans-serif;
}
        
    body {
      
      background-image : url('trigo05.jpeg');
      background-repeat: no-repeat;
      background-size: cover ;
      background-attachment: fixed;  
     margin: 0px -4px 0px 3px;
    }

    .address {
      
      background-color: #df3939e7;          
      height:100px;
      width: 103vw;
      
      
      position: absolute;
      top: 1122px;
      left:4px;
     }

     .texto1{
      font-family: var(--font3);
      font-size: 1.5em;
      position: absolute;
      top: -80px;
      left: 10px;
      color: black;
      margin: 50px;
      padding: 50px;

     }
     
     .texto2{
      font-family: var(--font3);
      font-size: 1.5em;
      position: absolute;
      top: 20px;
      left: 10px;
      margin: 50px;

     }

    
    .gif {
      position: absolute;
      top: -4%;
      right: 98%;
      max-width: 100px;
      
    }
    
    /*este h1 era class igreja*/
    .igreja {
      font-family: var(--font0);
      font-size: 120px;
      font-weight: bolder;
      font-variant: small-caps;
      color: goldenrod;
      margin-top: 120px;
      
      text-align: center;
     
    }

    
    body header h2 {
      display: inline-block;
      font-variant: var(--font1); 
      color: rgba(235, 18, 18, 0.726);
      max-width: 100%;     
      padding-right: 10px;       
      font-size: 2.5em;     
      
      
    }

    .eventos {
      display: flex;
      max-width: 56vw;
      max-height: 50vh;
         
      
     
    }   
       
   
    
    .section {
      display: block;
      text-align: left;
      margin: 10px ;
      padding:5px 5px;
      position: relative;
      top: -550px;
     
     

    }

    
    .section img {
      max-width: 180px;  
    }
    
    div.section p {
      font-size: 1.2em;
      font-weight: bolder;
      margin-top: 0px;
    

    }

    footer {
      background-color: #333;
      color: white;
      padding: 20px;
      text-align: center;
    } 
    footer{
      margin-top: 50px;
      min-width: 120px;
      height: 130px;
      width: 98.5vw;  
      font-size: 1.2em;
      
      
    }
    footer p {
        font-variant: var(--font2);
        margin: -30px;
        padding: 20px;
    }
    footer #endereço{
        font-variant: var(--font2);
        font-size: 1.1em;
        padding: 50px 0px -1px 50px;
        color: black;
        text-align: center;
                
    }
    footer p a {
        font-weight: 10px;
        color: rgb(52, 137, 233);
    }
 